absl-py==0.9.0
alabaster==0.7.11
anaconda-client==1.7.2
anaconda-navigator==1.9.2
anaconda-project==0.8.2
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.8.1
astroid==2.0.4
astropy==3.0.4
atomicwrites==1.2.1
attrs==19.3.0
Automat==0.7.0
Babel==2.6.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.3
bitarray==0.8.3
bkcharts==0.2
blaze==0.11.3
bleach==3.1.0
blis==0.4.1
bokeh==0.13.0
boto==2.49.0
boto3==1.14.9
botocore==1.17.9
Bottleneck==1.2.1
cachetools==4.0.0
catalogue==1.0.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==6.7
cloudpickle==0.5.5
clyent==1.2.2
colorama==0.3.9
conda==4.5.11
conda-build==3.15.1
constantly==15.1.0
contextlib2==0.5.5
cryptography==2.3.1
cycler==0.10.0
cymem==2.0.3
Cython==0.28.5
cytoolz==0.9.0.1
dask==0.19.1
datashape==0.5.4
decorator==4.4.1
defusedxml==0.6.0
distlib==0.3.1
distributed==1.23.1
docutils==0.14
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==3.0.8
Flask==1.0.2
Flask-Cors==3.0.6
gast==0.2.2
gensim==3.8.3
gevent==1.3.6
glob2==0.6
gmpy2==2.0.8
google-auth==1.11.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
googlefinance==0.7
graphviz==0.13.2
greenlet==0.4.15
grpcio==1.27.2
h5py==2.8.0
heapdict==1.0.0
html5lib==1.0.1
hyperlink==18.0.0
idna==2.7
imageio==2.4.1
imagesize==1.1.0
importlib-metadata==0.23
incremental==17.5.0
ipykernel==5.1.3
ipython==7.10.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.4
itsdangerous==0.24
jdcal==1.4
jedi==0.15.1
jeepney==0.3.1
Jinja2==2.10.3
jmespath==0.10.0
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyterlab==0.34.9
jupyterlab-launcher==0.13.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==13.2.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.24.0
locket==0.2.0
lxml==4.2.5
Markdown==3.2.1
MarkupSafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
midi2audio==0.1.1
mido==1.2.9
mistune==0.8.4
mkl-fft==1.0.4
mkl-random==1.0.1
more-itertools==8.0.0
mpmath==1.0.0
msgpack==0.5.6
msgpack-numpy==0.4.4.3
multipledispatch==0.6.0
multitasking==0.0.9
murmurhash==1.0.2
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.1
nltk==3.3
nose==1.3.7
notebook==6.0.2
numba==0.39.0
numexpr==2.6.8
numpy==1.18.1
numpydoc==0.8.0
oauthlib==3.1.0
odo==0.5.1
olefile==0.46
opencv-python==4.2.0.32
openpyxl==2.5.6
opt-einsum==3.2.0
packaging==17.1
pandas==1.0.5
pandas-datareader==0.8.1
pandocfilters==1.4.2
parso==0.5.1
partd==0.3.8
path.py==11.1.0
pathlib2==2.3.2
patsy==0.5.0
pep8==1.7.1
perceptual==0.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.2.0
pipenv==2020.6.2
pkginfo==1.4.2
plac==1.1.3
pluggy==0.7.1
ply==3.11
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.11.3
psutil==5.4.7
pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-2.3.0/pt_core_news_sm-2.3.0.tar.gz
ptyprocess==0.6.0
py==1.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.2
pydot==1.4.1
pydotplus==2.0.2
pyflakes==2.0.0
Pygments==2.5.2
pylint==2.1.1
pyodbc==4.0.24
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyrsistent==0.15.6
pyrtools==0.9.3
PySocks==1.6.8
pytest==3.8.0
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.3.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==1.0.0
PyYAML==3.13
pyzmq==18.1.1
QtAwesome==0.4.4
qtconsole==4.6.0
QtPy==1.5.0
requests==2.23.0
requests-oauthlib==1.3.0
rope==0.11.0
rsa==4.0
ruamel-yaml==0.15.46
s3transfer==0.3.3
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.1.0
seaborn==0.9.0
SecretStorage==3.1.0
Send2Trash==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
sklearn==0.0
smart-open==2.0.0
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.0.5
spacy==2.3.0
Sphinx==1.7.9
sphinxcontrib-websupport==1.1.0
spyder==3.3.1
spyder-kernels==0.2.6
SQLAlchemy==1.2.11
srsly==1.0.2
statsmodels==0.9.0
sympy==1.2
tables==3.4.4
tabulate==0.8.6
tb-nightly==1.14.0a20190603
tblib==1.3.2
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
tensorpack==0.9.8
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf-estimator-nightly==1.14.0.dev2019060501
thinc==7.4.1
toolz==0.9.0
tornado==6.0.3
tqdm==4.43.0
traitlets==4.3.3
Twisted==18.7.0
unicodecsv==0.14.1
urllib3==1.23
virtualenv==20.0.26
virtualenv-clone==0.5.4
vtk==8.1.2
wasabi==0.7.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.5.1
wrapt==1.12.0
xlrd==1.1.0
XlsxWriter==1.1.0
xlwt==1.3.0
yfinance==0.1.54
zict==0.1.3
zipp==0.6.0
zope.interface==4.5.0
